[data-episode-title] {
    font-family: Oswald, sans-serif;
    font-weight: normal;
    font-size: 2.0em;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

[data-episode-separator] {
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

[data-episode-description] {
    width: 80%;
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    font-family: Montserrat, serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
    padding-bottom: 1em;
}
